alpaca-py
annotated-types
beautifulsoup4
certifi
charset-normalizer
FreeSimpleGUI
frozendict
idna
msgpack
multitasking
numpy
pandas
peewee
platformdirs
pydantic
pydantic_core
python-dateutil
python-dotenv
pytz
requests
scipy
six
soupsieve
sseclient-py
typing-inspection
typing_extensions
tzdata
urllib3
websockets
yfinance
